header {
  height: 74px;
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 59.2px;
}

.header-container {
  margin: 0 auto;
  height: 74px;
  min-height: 59.2px;
  background-color: #060608;
  filter: drop-shadow(0px 3px 3px rgba(25,25,25,0.42 ));
  display: flex;
  justify-content: space-between;
  padding: 20px 3.5vw 20px 4.2vw;
  .logo {
    flex: 0 0 113px;
  }
  .nav {
    flex: 0 0 250px;
    margin-left: calc(21vw - 113px);
    text-align: left;
    ul li {
      display: inline-block;
      margin-right: 50px;
      font-size: 16px;
      padding: 4px 0 2px;
      border-bottom: 2px solid transparent;
      a {
        display: inline-block;
        width: 24px;
        color: #b1b2b8;
        transition-delay: 0.2s;
        &:hover {
          color: white;
        }
      }
    }
  }
  .action {
    text-align: right;
    margin-top: -3px;
    flex: 3;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: right;
    span {
      display: inline-block;
      cursor: pointer;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
      text-align: center;
      line-height: 43px;
      border-radius: 4px;
      transition: all 0.2s ease-in;
    }
    .search {
      max-width: 224px;
      input {
        width: 100%;
        height: 40px;
        background-color: #2B2C36;
        padding: 11px 0 11px 17px;
        border-radius: 4px;
        color: #b1b2b8;
        opacity: 0;
        transition-delay: .2s;
        transition: all .3s ease-out;
        transform: translate(30px, 30px);
        &::-webkit-input-placeholder {
          font-style: italic;
          color: #B1B2B8;
        }
        &:active, &:focus {
          opacity: 1;
          transform: translate(0,0);
        }
      }
      .icon-search {
        position: relative;
        top: -40px;
        transition: all .3s ease-out;
        transition-delay: .2s;
      }
      &:hover {
        input{
          opacity: 1;
          transform: translate(0,0);
        }
        .icon-search {
          color: #b1b2b8;
          font-size: 14px;
        }
      }
    }
    .icon-bell {
      position: relative;
      .blue-dot {
        position: absolute;
        top: 11.5px;
        right: 11px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #02A8F2;
      }
      &:hover {
        background-color: #2B2C36;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    max-height: 74px;
    background-color: rgb(87, 177, 87);
  }
}
