section {
  max-width: 360px;
  width: 19vw;
  min-width: 288px;
  background-color: #060608;
  filter: drop-shadow(4px 0px 5px rgba(0,0,0,0.12 ));
  padding-top: 4px;
  position: fixed;
  top: 74px;
}

.section-container {
  height: 93vh;
  max-width: 320px;
  width: 17vw;
  min-width: 254px;
  background-color: #14161d;
  border-radius: 8px;
  color: white;
  .user-settings {
    border-radius: 8px;
    padding: 29px 12px 29px 4vw;
    position: relative;
    width: 100%;
    .user-container {
      display: flex;
      justify-content: space-between;
      transition: all 0.2s ease-out;
      transition-delay: 0.2s;
      .user-avatar {
        display: flex;
        font-size: 15px;
        .login-action {
          font-family: "Montserrat", sans-serif;
          text-decoration: underline;
          font-weight: 300;
        }
        .welcome-text {
          font-family: 'Open Sans', sans-serif;
        }
        img {
          margin-right: 25px;
          transition: all 0.2s ease-out;
          border-radius: 50%;
          border: 1px solid transparent;
          width: 42px;
          height: 42px;
        }
        div {
          padding: 10px 0;
        }
      }
      .expand-button {
        width: 42px;
        height: 42px;
        padding: 15px 10px;
        cursor: pointer;
        margin-left: auto;
        span {
          transition: all 0.2s ease-out;
          display: block;
          background-color: white;
          width: 20px;
          height: 1px;
          margin: 3px 0;
        }
      }
    }
    &:hover {
      background-color: #2b2c36;
      .user-container .user-avatar img {
        margin-left: .2vw;
        margin-right: 20px;
        border-color: #02a8f2;
      }
    }
    .expanded-content {
      width: 100%;
      padding: 29px 12px 29px 4vw;
      left: 0;
      border-radius: 8px;
      position: absolute;
      z-index: 2;
      background-color: #2B2C36;
      color: white;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      transform: translateY(-80px) scaleY(0);
      opacity: 0;
      transition-delay: 0.2s;
      transition: all 0.2s ease-out;
      .line {
        display: block;
        border-top: 1px solid #45464E;
        margin-top: 10px;
        padding-top: 10px;
      }
      li {
        line-height: 35px;
      }
    }
  }
  .expanded {
    background-color: #2b2c36;
    .user-container {
      .user-avatar {
        img {
          margin-left: .2vw;
          border-color: #02a8f2;
          margin-right: 10px !important;
        }
      }
      .expand-button {
        .top-line {
          transform: rotate(45deg) translateY(2px);
        }
        .bottom-line {
          transform: rotate(-45deg) translateY(-3px);
        }
      }
    }
    .expanded-content {
      transform: translateY(0) scaleY(1);
      opacity: 1;
    }
  }
  .list-container {
    padding: 24px 0;
    overflow: auto;
    height: 74vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .main-list li, .play-list li {
      padding: 16px 12px 16px 4vw;
      display: flex;
      cursor: pointer;
      transition-delay: .2s;
      div:first-of-type {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-right: 17px;
        transition-delay: .2s;
        transition: all .3s ease-in;
      }
      div:nth-of-type(2) {
        font-size: 15px;
        padding-top: 3px;
      }
      &:hover {
        background-color: #1c1e27;
        div:first-of-type {
          // filter: invert(45%) sepia(88%) saturate(790%) hue-rotate(162deg)
          //   brightness(98%) contrast(101%);
          color: #02A8F2;
        }
        .icon-star:before {
          content: "\e915";
        }
        .icon-pages:before {
          content: "\e913";
        }
        .icon-history:before {
          content: "\e910";
        }
        .icon-playlist:before {
          content: "\e914";
          font-size: 19px;
        }
      }
      .plus-container {
        position: relative;
        margin-left: auto;
        margin-right: 30px;
        top: -1px;
      }
    }
    .play-list {
      padding-top: 16px;
      max-height: 300px;
      li {
        padding: 12px 12px 12px 4vw;
        .list-cover img {
          width: 24px;
          height: 24px;
          border-radius: 4px;
        }
        .list-title {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1875px){
  // .section-container {
  //   width: 100px;
  //   .user-avatar div{
  //     display: none;
  //   }
  // }
}
