section {
  max-width: 360px;
  width: 19vw;
  min-width: 288px;
  background-color: #14161d;
  filter: drop-shadow(-4px 0px 5px rgba(0,0,0,0.16 ));
  position: fixed;
  top: 74px;
  right: 0;
}

.section-container {
  height: 93vh;
  color: white;

  .tab-container {
    display: flex;
    box-shadow: 0 8px 16px 0 #060608;
    width: 100%;
    position: relative;
    .tab {
      padding: 22px 0 22px 22px;
      max-width: 180px;
      flex-basis: 50%;
      font-size: 16px;
      color: #b1b2b8;
      cursor: pointer;
    }
    .active-border {
      height: 4px;
      width: 50%;
      background-color: #016B9B;
      position: absolute;
      bottom: 0;
      transform: translateX(0);
      transition-delay: .2s;
      transition: all .3s ease-out;
    }
  }

  .playlist-container {
    padding: 10px 0;
    overflow: auto;
    height: 74vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .playlist-item {
      height: 64px;
      margin: 6px 0;
      padding: 8px 20px 8px 16px;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      transition-delay: .2s;
      transition: all .2s ease-in;
      .song {
        display: flex;
        .cover {
          position: relative;
          img {
            width: 46px;
            height: 46px;
            border-radius: 8px;
            border: 1px solid transparent;
            transition-delay: 0.2s;
            transition: all 0.2s ease-in;
          }
          span {
            position: absolute;
            display: block;
            opacity: 0;
            top: 10px;
            left: 13px;
            font-size: 22px;
            transition-delay: 0.2s;
            transition: all 0.2s ease-in;
          }
        }
        .playing-state {
          img {
            border-color: #2A86C7;
            opacity: .64;
          }
          span {
            opacity: 1;
          }
        }
        .song-info{
          margin-left: 10px;
          height: 44px;
          padding: 2px 0;
          .title {
            font-size: 16px;
            font-weight: 400;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          span {
            font-size: 12px;
            color: #99999F;
          }
        }
      }
      .action {
        min-width: 96px;
        span {
          display: inline-block;
          width: 42px;
          height: 42px;
          font-size: 19px;
          margin: 3px 0 3px 6px;
          padding-top: 10px;
          border-radius: 4px;
          text-align: center;
          cursor: pointer;
          transition-delay: 0.2s;
          transition: all 0.2s ease-in;
          &:hover {
            background-color: #1C1D23;
            box-shadow: 0px 3px 6px black;
          }
        }
      }
      &:hover {
        background-color: #1C1D23;
        .song .cover {
          span {
            opacity: 1;
          }
          img {
            opacity: 0.64;
          }
        }
      }
    }
  }

}
