<div class="slider-container">
  <div class="slider-info">
    <h4>This week's new releases</h4>
    <h2>Donda</h2>
    <h4>Kanye West</h4>
    <div class="carousel">
      <img class="active-img" src="../../../assets/img/release_01.png" alt="">
      <img src="../../../assets/img/release_02.png" alt="">
      <img src="../../../assets/img/release_03.png" alt="">
      <img src="../../../assets/img/release_04.png" alt="">
      <img src="../../../assets/img/release_05.png" alt="">
    </div>
  </div>
  <div class="active-cover">
    <div class="darker-effect"></div>
    <img
      src="../../../assets/img/release_01.png"
      alt="main_cover"
    />
  </div>
</div>
